
div{
    border: 20px solid salmon;
    border-radius: 30px;
    margin: 2%;
    padding: 1%;
    width: 44%;
    text-align: justify;
   
}
h2{
    color: blue;
    text-align: center;
}
img{
    height: 250px;
}